.button {
    display: block;
    padding: 2em;
    margin: 1em;
    background-color: lightgray;
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    flex-basis: 30vh;
}

a :hover {
    background-color: darkgray;
}