body {
    font-family: Arial, Helvetica, sans-serif;
}

.heading-text {
    flex-basis: 100%;
    text-align: center;
}

.container {
    padding-top: 30vh;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    justify-content: center;
}


.button {
    display: block;
    padding: 2em;
    margin: 1em;
    background-color: lightgray;
}

.search-button {
    padding: 1em;
    margin: 1em;
    background-color: lightgray;
    border: none;
    font-weight: bold;
}

.search-button:hover {
    background-color: darkgray;
}

input[type=text] {
    width: auto;
    padding: 1em;
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    flex-basis: 40vh;
}

.menu-button :hover {
    background-color: darkgray;
}

.search-form {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 1em;
}

.search-results {
    justify-content: center;

}

.search-result {
    max-width: 80%;
    margin: auto;
    flex-basis: 100%;
}

.search-result img {
    max-width: 100%;
    max-height: 50vh;
}

img {
    max-width: inherit;
    max-height: inherit;
}

.break {
    flex-basis: 100%;
    min-height: 10px;
}

