<!DOCTYPE html>
<html>
    <head>
        {% include "boilerplate.html" %}
        <title>Add Recipe - RecipeViewer</title>
    </head>
    <body>
        <div id="container">
            <h1 class="page-heading">Recipe Viewer</h1>
            <h2 class="page-heading">Add Recipe</h2>
            <p>Submit a recipe's URL to save it to the database.</p>
            <form method="post" class="url-form">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="rv-button primary">SUBMIT</button>
                <a href="/" class="rv-button secondary">BACK</a>
            </form>
        </div>
    </body>
</html>
