<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'viewer/img/favicon.ico' %}">
        <title>Add Recipe - RecipeViewer</title>
    </head>
    <body>
        <div class="container">
            <h1 class="heading-text">Add recipe</h1>
            <div class="add-recipe-form">
                <p>Submit a recipe's URL to save it to the database.</p>
                <form method="post" class="url-form">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="search-button">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>