<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">

        <title>Add Recipe - RecipeViewer</title>
    </head>
    <body>
        <h1>Add recipe</h1>
        <p>Submit a recipe's URL to save it to the database.</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            {% comment %} <input type="text" name="URL" required=""> {% endcomment %}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>