<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'viewer/img/favicon.ico' %}">
        <title>Home - RecipeViewer</title>
    </head>
    <body>
        <div class="container">
            <h1 class="heading-text">Welcome to RecipeViewer</h1>
            <a href="add-recipe" class="menu-button">
                <div class="button">
                    <h2>Add Recipe</h2>
                </div>
            </a>
            <a href="search" class="menu-button">
                <div class="button">
                    <h2>Search Recipes</h2>
                </div>
            </a>
        </div>
    </body>
</html>
