<!DOCTYPE html>
<html>
    <head>
        {% include "boilerplate.html" %}
        <title>Home - RecipeViewer</title>
    </head>
    <body>
        <div id="container">
            <h1 id="page-heading">Recipe Viewer</h1>
            <div id="nav-buttons">
                <a href="add-recipe" class="nav-button">
                    Add Recipe
                </a>
                <a href="search" class="nav-button">
                    Search Recipes
                </a>
            </div> <!-- nav-buttons -->
            
            <h2>Most Used</h2>
            <p>&emsp;Coming soon...</p>

            <h2>Recently Added</h2>
            <p>&emsp;Coming soon...</p>
        </div>
    </body>
</html>
