<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">
        <title>{{ name }} - RecipeViewer</title>
    </head>
    <body>
        <h1 id="recipe-title">{{ name }}</h1>
        <img class="recipe-image" src="{{ image_url }}" alt="Recipe Image">

        {% comment %} 
            This could potentially create problems if the user cooks recipes made of '</li></ul><script>...' 
            I'm gonna rely on people not cooking delicious script injections for now.
        {% endcomment %}
        {{ ingredients_list | safe }}
        {{ instructions_list | safe }}

    </body>
</html>