<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/recipe-style.css' %}">
        <title>{{ name }} - RecipeViewer</title>
    </head>
    <body>
        <div class="recipe">
            <h1 id="recipe-title">{{ name }}</h1>
            <div id="description-block">
                <img class="recipe-image" src="{{ image_url }}" alt="Recipe Image">
                <p id="recipe-description">{{ description }}</p>
            </div>

            <div id="recipe-info">
                <p id="recipe-category">Category: {{ recipe_category }}</p>
                <p id="recipe-cuisine">Cuisine: {{ recipe_cuisine }}</p>
                <p id="recipe-diet">Diet Type: {{ diet_type }}</p>
                <p id="recipe-cost">Estimated Cost: {{ estimated_cost }}
            </div>

            <div id="publisher-info">
                <p id="author">Author: {{ author }}</p>
                <p id="publisher">Publisher: {{ publisher }}</p>
                <p id="date-published">Date Published: {{date_published}}</p>
            </div>

            <div class="break"></div>

            <div id="timing-info">
                <p id="cook-time">Cooking Time: {{ cook_time }}</p>
                <p id="prep-time">Prep Time: {{ prep_time }}</p>
                <p id="total-time">Total Time: {{ total_time }}</p>
            </div>

            {% comment %} 
                This could potentially create problems if the user cooks recipes made of '</li></ul><script>...' 
                I'm gonna rely on people not cooking delicious script injections for now.
            {% endcomment %}
            <div id="ingredients-block">
                <h2>Ingredients</h2>
                {{ ingredients_list | safe }}
            </div>
            <div id="instructions-block">
                <h2>Method</h2>
                {{ instructions_list | safe }}
            </div>

            <div id="footer">
                <p id="date-saved">Recipe saved on {{ date_saved }}</p>
                <p id="url">Original URL: <a href="{{ url }}">{{ url }}</a></p>
            </div>
        </div>

        

    </body>
</html>